@charset "UTF-8";

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
  background-image: url(https://github.com/Ucekay/welcome-to-atune/blob/main/images/bubble1.png?raw=true), url(https://github.com/Ucekay/welcome-to-atune/blob/main/images/bubble2.png?raw=true), url(https://github.com/Ucekay/welcome-to-atune/blob/main/images/bubble5.png?raw=true), url(https://github.com/Ucekay/welcome-to-atune/blob/main/images/bubble6.png?raw=true), url(https://github.com/Ucekay/welcome-to-atune/blob/main/images/logo.png?raw=true);
  background-position: left top, right top, left bottom, right bottom, center bottom;
  background-size: 15rem, 18rem, 24rem, 18rem, 60rem;
  background-repeat: no-repeat;
	color: #555;
	font-family: sans-serif;
}

.title1-b{
  display: inline-block;
  background: #4172D8;
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  color: #fff;
  font-size: 9vw;
  font-weight: lighter;
  text-align: center;
  line-height: 12vw;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  margin-top: 11vh;
  margin-bottom: 0.5rem;
}

.title1-r{
  display: inline-block;
  background: #E14C4E;
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  color: #fff;
  font-size: 9vw;
  font-weight: lighter;
  text-align: center;
  line-height: 12vw;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  margin-top: 11vh;
  margin-bottom: 0.5rem;
}

.title2-r{
  display: inline-block;
  background: #E14C4E;
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  color: #fff;
  font-size: 9vw;
  font-weight: lighter;
  text-align: center;
  line-height: 12vw;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 5rem;
}

.title2-b{
  display: inline-block;
  background: #4172D8;
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  color: #fff;
  font-size: 9vw;
  font-weight: lighter;
  text-align: center;
  line-height: 12vw;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 5rem;
}

p{
  line-height: 1.7;
  font-size: 4vw;
  text-align: center;
}

.intro{
	width: 90%;
	margin: auto;
}

.hero{
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.map{
  height: 140vw;
}

textarea{
  resize: none;
	font-size: 1vh;
}

textarea:focus{
	border-color: #000;
	outline: none;
}

.input{
  margin-top: 4rem;
  text-align: center;
}

.input-1{
  border:2px solid blue;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  text-align: center;
  line-height: 15vw;
}

.title{
  text-align: center;
  font-size: 8vw;
  margin-top: 4rem;
}

.map-img{
  background-image: url(https://github.com/Ucekay/welcome-to-atune/blob/main/images/map.png?raw=true);
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 1rem;
  background-size: contain;
  width: 100%;
  height: 100%;
}
